@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

body{
   
    font-family: "Poppins", sans-serif;
}

.hero-container{
  background-color: #0096db;
}

header ul li {
    color: #3f3f3f;
}

.all-packet-main-section{
  background: url(../image/all_packet_bg.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .all-cards{
  background: url(../image/yellow_outline-2.png) no-repeat center/cover;
} */








